body { background: #a555d6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-notify-0 { color: #cfb77d; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #107594; font-size: 13px; margin-bottom: 5px; }
.block-invoice-2 { color: #b5710e; font-size: 17px; margin-bottom: 5px; }
.block-search-3 { color: #b782d4; font-size: 13px; margin-bottom: 5px; }
.block-metrics-4 { color: #9d6f75; font-size: 17px; margin-bottom: 5px; }